* {
  /* border: 1px solid red; */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
}

html {
  min-height: 100%;
  background: rgb(20, 25, 53);

  background: linear-gradient(
    /* 135deg,
    rgb(18, 18, 18) 0%,
    rgb(161, 45, 45) 32%,
    rgb(0, 0, 0) 76%,
    rgb(21, 21, 50) 100% */
  );

  /* background: -moz-linear-gradient(
    135deg,
    hsla(0, 100%, 53%, 1) 0%,
    hsla(257, 92%, 60%, 1) 32%,
    hsla(163, 61%, 42%, 1) 76%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(0, 100%, 53%, 1) 0%,
    hsla(257, 92%, 60%, 1) 32%,
    hsla(163, 61%, 42%, 1) 76%,
    hsla(33, 94%, 57%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F0F", endColorstr="#703BF7", GradientType=1 ); */
  background-size: cover;
}
body {
  font-family: Urbanist;
}

.containers {
  padding-inline: 180px;
}
